<!--About-->
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-3"><b>FRIENDS WITH BENEFITS</b> <img src="../images/F.w.B-logo-nowatermark.png" alt="logo-white" class="logo"></h1>
            <p class="lead">Group 2 - Web project</p>
            <hr class="my-2">

            <div class="container py-3">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="card mb-3 border-custom">
                            <div class="card-header" style="border-bottom-color: #58C9EF">1653087</div>
                            <div class="card-body">
                                <h4 class="card-title">ĐỖ MẠNH TIẾN</h4>
                                <p class="card-text">Gender: Male</p>
                                <p class="card-text">Birthday: 28/04/1998</p>
                                <p class="card-text">Class: 16CLC2</p>
                                <p class="card-text">University of Science</p>
                                <p class="card-text">Email: 1653087@student.hcmus.edu.vn</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="card mb-3 border-custom">
                            <div class="card-header" style="border-bottom-color: #58C9EF">1653092</div>
                            <div class="card-body">
                                <h4 class="card-title">ĐINH TRẦN TOẢN</h4>
                                <p class="card-text">Gender: Male</p>
                                <p class="card-text">Birthday: 12/04/1998</p>
                                <p class="card-text">Class: 16CLC2</p>
                                <p class="card-text">University of Science</p>
                                <p class="card-text">Email: 1653092@student.hcmus.edu.vn</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="card mb-3 border-custom">
                            <div class="card-header" style="border-bottom-color: #58C9EF">1653106</div>
                            <div class="card-body">
                                <h4 class="card-title">HSIAO (TIU) KIỀU VỸ</h4>
                                <p class="card-text">Gender: Male</p>
                                <p class="card-text">Birthday: 31/05/1998</p>
                                <p class="card-text">Class: 16CLC2</p>
                                <p class="card-text">University of Science</p>
                                <p class="card-text">Email: 1653106@student.hcmus.edu.vn</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="card mb-3 border-custom">
                            <div class="card-header" style="border-bottom-color: #58C9EF">1653106</div>
                            <div class="card-body">
                                <h4 class="card-title">NGUYỄN ANH TÚ</h4>
                                <p class="card-text">Gender: Male</p>
                                <p class="card-text">Birthday: 29/07/1998</p>
                                <p class="card-text">Class: 16CLC2</p>
                                <p class="card-text">University of Science</p>
                                <p class="card-text">Email: 1653142@student.hcmus.edu.vn</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <p class="lead text-center">
                <a class="btn btn-custom btn-lg" href="https://github.com/ttbhanh/PTUDW-16CLC2-Nhom02" role="button">Go to our project's github</a>
            </p>
        </div>
    </div>