<!--Info Part-->
<div class="container my-4">
    <div class="row">
        <div class="col-sm-12 col-md-4" style="border-right-style: solid; border-right-color: #58c9ef">
            <div class="text-center" style="background: white">
                <img class="img-thumbnail my-3" style="border-radius:10px" src="{{admin.imagepath}}" alt="avatar" width="200px">
            </div>
        </div>
        <div class="col-sm-12 col-md-8">
            <div class="container">
                <div class="row my-3">
                    <div class="col-sm-12 col-md-3">
                        <a href="admin-dashboard"><button type="button" class="btn btn-custom" style="width: 80%">Dashboard</button></a>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <a href="admin-profile"><button type="button" class="btn btn-custom-primary-reverse" style="width: 80%">Profile</button></a>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <a href="admin-account"><button type="button" class="btn btn-custom-primary-reverse" style="width: 80%">Account</button></a>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <a href="admin-transaction"><button type="button" class="btn btn-custom-primary-reverse" style="width: 80%">Transaction</button></a>
                    </div>
                </div>

                <!-- Calendar -->
                <div class="bootstrap-iso">
                    <div class="container-fluid">
                        <div class="row">

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <label class="control-label " for="fromdate">From date:</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input class="form-control" id="fromdate" name="date" placeholder="MM/DD/YYYY" type="text" />
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <label class="control-label " for="todate">To date:</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input class="form-control" id="todate" name="date" placeholder="MM/DD/YYYY" type="text" />
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Chart -->
                <div class="container">
                    <div class="row">
                        <h2><b>New users<br></b></h2>
                    </div>
                </div>

                <div class="container py-3">
                    <h3 class="text-center"><b>Statitics</b></h3>
                    <div class="row">
                        <h5>Users</h5>
                        <canvas id="users-chart"></canvas>
                    </div>

                    <div class="row">
                        <h5>Gender</h5>
                        <canvas id="gender-chart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //users chart
$("#todate").on("change dp.change", function (e){
    //get date

    if($("#fromdate").val()!="")
    {
        var fromdate = new Date($('#fromdate').val());
        var todate = new Date($('#todate').val());
        //find date array
        dateArray=getDates(fromdate,todate);

        var ctx = document.getElementById('users-chart').getContext('2d');
        var chart = new Chart(ctx, {
    
            // The type of chart we want to create
            type: 'line',
        
            // The data for our dataset
            data: {
                labels: dateArray,//Nhãn dưới
                datasets: [{
                    label: 'Users',
                    backgroundColor: 'rgba(255, 173, 88, 0.5)',
                    borderColor: 'rgba(88, 201, 239, 0.5)',
                    data: [0, 5, 20]
                }]
            },
    
            // Configuration options go here
            options: {}
        });

    if(dateArray.length==0)
        chart.destroy();
    }
})

//from date dp change event
$("#fromdate").on("change dp.change", function (e){

    //get date
    if($("#todate").val()!="")
    {
        var fromdate = new Date($('#fromdate').val());
        var todate = new Date($('#todate').val());

        //find date array
        dateArray=getDates(fromdate,todate);
    
        var ctx = document.getElementById('users-chart').getContext('2d');
        var chart = new Chart(ctx, {
        
            // The type of chart we want to create
            type: 'line',
            
            // The data for our dataset
            data: {
                labels: dateArray,//Nhãn dưới
                datasets: [{
                    label: 'Guests',
                    backgroundColor: 'rgba(255, 173, 88, 0.5)',
                    borderColor: 'rgba(88, 201, 239, 0.5)',
                    data: [0, 5, 20]
                }]
            },
        
            // Configuration options go here
            options: {}
        });
        if(dateArray.length==0)
            chart.destroy();
    }
})

//function find date array
function getDates(startDate, stopDate) {
    var dateArray = [];
    var currentDate = moment(startDate);
    var stopDate = moment(stopDate);
    while (currentDate <= stopDate) {
        dateArray.push( moment(currentDate).format('DD/MM/YYYY') )
        currentDate = moment(currentDate).add(1, 'days');
    }
    return dateArray;
}
</script>