<!--Header-->
    <div class="container-fluid bg-custom">
        <nav class="navbar navbar-expand-sm navbar-dark container">
            <a class="navbar-brand" href="/login-user"><img class="logo" src="/images/F.w.B-logo-nowatermark-white.png" alt="logo"></a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <form class="form-inline my-2 my-lg-0" action="/login-user/search">
                    <div class="input-group input-group-lg">
                        <input id="maxsize" name="name" type="text" class="form-control" style="height: 48px" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Enter name...">
                        <div class="input-group-append">
                            <button type="submit" class="input-group-text btn" id="search-btn">
                                <i class="fa fa-search" style="color: #58C9EF"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <button class="btn btn-sm btn-custom ml-3" type="button" style="font-size: 1.25em; width: 100px;" data-toggle="modal" data-target="#filtermodallogin">Filter</button>

                <div class="navbar-collapse justify-content-end">
                    <ul class="navbar-nav mt-2 mt-lg-0" id="navright" style="font-size: 1.25em;">
                        <li class="nav-item active dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownId">
                                <a class="dropdown-item" href="#">Gaming</a>
                            </div>
                        </li>
                        <li class="nav-item active dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="{{user.imagepath}}" alt="avatar" class="avatar-crop"> {{user.name}}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownId">
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addfundmodal">Fund management</a>
                                <a class="dropdown-item" href="/login-user/details">Details</a>
                                <a class="dropdown-item" href="/login-user/settings-profile">Profile settings</a>
                                <a class="dropdown-item" href="/login-user/settings-transaction">Transaction history</a>
                                <a class="dropdown-item" href="/login-user/settings-friend"><span style="color: #FFAD58">FRIEND</span> settings</a>
                                <a class="dropdown-item" href="/"><img src="/images/logout.png" alt="logout" style="width: 20px"> Log out</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="color: #FFAD58"><b>ENG</b></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>



    
<script>
    $(document).ready(function() {
    var options = {
    data: [],
    getValue: "name",
        template: {
        type: "iconLeft",
        fields: {
            iconSrc: "icon"
        }
    },
    list: {
        maxNumberOfElements: 4,
        match: {
            enabled: true
        },
}
}
    {{#each autocomplete}}
     options.data.push({name:"{{name}}",icon: "{{imagepath}}"})
   {{/each}}

    $("#maxsize").easyAutocomplete(options);
                });

</script>