<!--Info Part-->
    <div class="container my-4">
        <div class="row">
            <div class="col-sm-12 col-md-3" style="border-right-style: solid; border-right-color: #58c9ef">
                <div class="text-center" style="background: white">
                    <img class="img-thumbnail my-3" style="border-radius:10px" src="../images/avatar.jpeg" alt="avatar">
                    <div class="text-center my-2" style="color: #1CCA00">
                        Ready
                    </div>
                    <div class="text-center my-2">
                        <p>Date joined: 11/03/2019</p>
                    </div>
                    <div class="text-center my-2">
                        <i class="fa fa-facebook-square px-1" style="color: #3b5998; font-size: 3em"></i>
                        <i class="fa fa-youtube px-1" style="color: #e52d27; font-size: 3em"></i>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6">
                <div class="container">
                    <div class="row py-3">
                        <h2><b>LOVE GRAYSON</b></h2>
                    </div>

                    <div class="row" style="border-bottom: 1px solid #58C9EF">
                        <table class="table-sm col-sm-12" style="text-align: end">
                            <thead>
                                <tr>
                                    <th scope="col">RELIABILITY</th>
                                    <th scope="col">HIRED FOR</th>
                                    <th scope="col">HIRED BY</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>80%</td>
                                    <td>50 times</td>
                                    <td>20 people</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="row py-3" style="border-bottom: 1px solid #58c9ef">
                        <h4><b>INFO</b></h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio culpa quasi delectus, autem repellendus in voluptas, et vitae dolorem, sunt dolorum fugit recusandae hic nostrum. Voluptate corrupti aliquid quaerat est ducimus dolorum doloribus neque
                            adipisci placeat perferendis eligendi laborum, earum, nulla ad! Ea facere autem provident excepturi ab nam quaerat iure, possimus consequatur corrupti tempore eius voluptas nemo earum quibusdam quis doloribus culpa debitis
                            in suscipit molestias deleniti! Ipsam saepe debitis commodi numquam officiis maiores facere consequatur esse rem iusto aliquam, necessitatibus quis dolor obcaecati placeat in sequi quisquam? Iure ab accusamus doloremque sed.
                            Numquam corrupti dolorem cupiditate voluptate optio?
                        </p>
                    </div>

                    <div class="row py-3">
                        <h4><b>REVIEWS</b></h4>
                    </div>

                    <div class="row">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="row" style="float: left">
                                    <img src="../images/avatar.jpeg" alt="avatar" class="avatar-crop mx-2 my-2">
                                    <p><b>Love Grayson</b><br><span style="font-size: 0.5em">hh:mm:ss, dd/mm/yyyy</span></p>
                                </div>

                                <div style="float: right">
                                    5/5
                                </div>

                                <div style="clear: both">
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error, blanditiis.</p>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row" style="float: left">
                                    <img src="../images/avatar.jpeg" alt="avatar" class="avatar-crop mx-2 my-2">
                                    <p><b>Love Grayson</b><br><span style="font-size: 0.5em">hh:mm:ss, dd/mm/yyyy</span></p>
                                </div>

                                <div style="float: right">
                                    5/5
                                </div>

                                <div style="clear: both">
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error, blanditiis.</p>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row" style="float: left">
                                    <img src="../images/avatar.jpeg" alt="avatar" class="avatar-crop mx-2 my-2">
                                    <p><b>Love Grayson</b><br><span style="font-size: 0.5em">hh:mm:ss, dd/mm/yyyy</span></p>
                                </div>

                                <div style="float: right">
                                    5/5
                                </div>

                                <div style="clear: both">
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error, blanditiis.</p>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="col-sm-12" style="text-align: end"><input type="button" class="btn btn-custom" value="View more"></div>
                </div>
            </div>

            <div class="col-sm-12 col-md-3 py-3">
                <div class="px-3 py-3" style="box-shadow: 3px 3px 10px gray">
                    <h4>50.000 VNĐ</h4>
                    <p>5/5 (20 reviews)</p>
                    <input type="button" class="btn btn-custom col-sm-12" value="HIRE" style="font-size: 2em" data-toggle="modal" data-target="#modelId">
                </div>
            </div>
        </div>
    </div>