<!--Register modal-->
    <div class="modal fade" id="registermodal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-custom text-white">
                    <h3 class="modal-title">REGISTER</h3>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <form action="#">
                        <input type="text" class="form-control my-2" placeholder="Enter username" required>
                        <input type="password" class="form-control my-2" placeholder="Enter password" required>
                        <input type="password" class="form-control my-2" placeholder="Retype password" required>
                        <p style="text-align: end">
                            <input type="submit" class="btn btn-custom my-2" value="REGISTER">
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>