<!-- Hire Modal -->
            <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-custom text-white">
                            <h3 class="modal-title">HIRE</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                        </button>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid row">
                                <label for="price/h" class="control-label col-sm-5 col-md-5">Ammout of time:</label>
                                <div class="col-sm-7 col-md-7"><input type="number" class="form-control" id="price/h" placeholder="1 hour" required></div>
                                <label for="price" class="control-label col-sm-5 col-md-5">Price:</label>
                                <label class="col-sm-7 col-md-7">50.000 VNĐ</label>
                                <label for="price" class="control-label col-sm-5 col-md-5">Account ballance:</label>
                                <label class="col-sm-7 col-md-7">100.000 VNĐ <button type="button" class="btn-hidden" data-dismiss="modal" data-toggle="modal" data-target="#addfundmodal"><i class="fa fa-plus-circle" style="color: #FFAD58"></i></button></label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-custom my-2" value="Hire">
                        </div>
                    </div>
                </div>
            </div>