<!--Result: row 1-->
    <div class="container py-3">
        <div>
            <h2 style="color: #58C9EF">RESULT
                <a href="#" class="btn btn-sm btn-custom btn-refresh" role="button">
                    <img class="icon" src="../images/refresh.png" alt="refresh"> REFRESH
                </a>
            </h2>
        </div>

        <div class="row">
            <div class="col">
                <a href="friend-details">
                    <div class="card card-friend">
                        <img class="card-img-top" src="../images/avatar.jpeg" alt="avatar">
                        <div class="card-body">
                            <h4 class="card-title" style="color:#58C9EF">Love Grayson</h4>
                            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima, doloremque?</p>
                            <p class="card-text pt-3">
                                <img class="icon" src="../images/service.png" alt="service"> Hang out
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="friend-details">
                    <div class="card card-friend">
                        <img class="card-img-top" src="../images/avatar.jpeg" alt="avatar">
                        <div class="card-body">
                            <h4 class="card-title" style="color:#58C9EF">Love Grayson</h4>
                            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima, doloremque?</p>
                            <p class="card-text pt-3">
                                <img class="icon" src="../images/service.png" alt="service"> Hang out
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="friend-details">
                    <div class="card card-friend">
                        <img class="card-img-top" src="../images/avatar.jpeg" alt="avatar">
                        <div class="card-body">
                            <h4 class="card-title" style="color:#58C9EF">Love Grayson</h4>
                            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima, doloremque?</p>
                            <p class="card-text pt-3">
                                <img class="icon" src="../images/service.png" alt="service"> Hang out
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="friend-details">
                    <div class="card card-friend">
                        <img class="card-img-top" src="../images/avatar.jpeg" alt="avatar">
                        <div class="card-body">
                            <h4 class="card-title" style="color:#58C9EF">Love Grayson</h4>
                            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima, doloremque?</p>
                            <p class="card-text pt-3">
                                <img class="icon" src="../images/service.png" alt="service"> Hang out
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <!--Result: row 2-->
    <div class="container py-3">
        <div class="row">
            <div class="col">
                <a href="friend-details.html">
                    <div class="card card-friend">
                        <img class="card-img-top" src="../images/avatar.jpeg" alt="avatar">
                        <div class="card-body">
                            <h4 class="card-title" style="color:#58C9EF">Love Grayson</h4>
                            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima, doloremque?</p>
                            <p class="card-text pt-3">
                                <img class="icon" src="../images/service.png" alt="service"> Hang out
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="friend-details.html">
                    <div class="card card-friend">
                        <img class="card-img-top" src="../images/avatar.jpeg" alt="avatar">
                        <div class="card-body">
                            <h4 class="card-title" style="color:#58C9EF">Love Grayson</h4>
                            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima, doloremque?</p>
                            <p class="card-text pt-3">
                                <img class="icon" src="../images/service.png" alt="service"> Hang out
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="friend-details.html">
                    <div class="card card-friend">
                        <img class="card-img-top" src="../images/avatar.jpeg" alt="avatar">
                        <div class="card-body">
                            <h4 class="card-title" style="color:#58C9EF">Love Grayson</h4>
                            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima, doloremque?</p>
                            <p class="card-text pt-3">
                                <img class="icon" src="../images/service.png" alt="service"> Hang out
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="friend-details.html">
                    <div class="card card-friend">
                        <img class="card-img-top" src="../images/avatar.jpeg" alt="avatar">
                        <div class="card-body">
                            <h4 class="card-title" style="color:#58C9EF">Love Grayson</h4>
                            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima, doloremque?</p>
                            <p class="card-text pt-3">
                                <img class="icon" src="../images/service.png" alt="service"> Hang out
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <!--Page navigation-->
    <div class="container py-3 text-center">
        <a href="#" class="btn btn-sm btn-custom mx-2" role="button">Previous page</a>
        <a href="#" class="btn btn-sm btn-custom-reverse mx-2" role="button">1</a>
        <a href="#" class="btn btn-sm btn-custom mx-2" role="button">Next page</a>
    </div>