<!--Info Part-->
    <div class="container my-4">
        <div class="row">
            <div class="col-sm-12 col-md-4" style="border-right-style: solid; border-right-color: #58c9ef">
                <div class="text-center" style="background: white">
                    <img class="img-thumbnail my-3" style="border-radius:10px" src="{{user.imagepath}}" alt="avatar" width="200px">
                    <div class="text-center mx-5 my-2" style=" border-style:solid; border-radius: 8px; background-color: white; border-color: #58c9ef; border-width: 1px ">
                        <div>Friend hired</div>
                        <div>10</div>
                    </div>
                    <div class="text-center mx-5 my-2" style=" border-style:solid; border-radius: 8px; background-color: white; border-color: #58c9ef; border-width: 1px ">
                        <div>Money spent</div>
                        <div>500.000 VNĐ</div>
                    </div>
                    <div class="text-center mx-5 my-2" style=" border-style:solid; border-radius: 8px; background-color: white; border-color: #58c9ef; border-width: 1px ">
                        <div>Account balance</div>
                        <div>100.000 VNĐ <button type="button" class="btn-hidden" data-toggle="modal" data-target="#addfundmodal"><i class="fa fa-plus-circle" style="color: #FFAD58"></i></button> </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-8">
                <div class="container">
                    <div class="row my-3">
                        <div class="col-sm-12 col-md-4">
                            <a href="settings-profile"><button type="button" class="btn btn-custom-primary-reverse" style="width: 80%">Profile</button></a>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <a href="settings-transaction"><button type="button" class="btn btn-custom" style="width: 80%">Transaction history</button></a>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <a href="settings-friend"><button type="button" class="btn btn-custom-primary-reverse" style="width: 80%">FRIEND Settings</button></a>
                        </div>
                    </div>

                    <!--Table-->
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Date created</th>
                                    <th scope="col">FRIEND's name</th>
                                    <th scope="col">Time (hour)</th>
                                    <th scope="col">Price per hour</th>
                                    <th scope="col">Total price</th>
                                    <th scope="col">State</th>
                                    <th scope="col">Report</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>15/01/2019</td>
                                    <td>Hsiao Kieu Vy</td>
                                    <td>1</td>
                                    <td>1.000.000</td>
                                    <td>1.000.000</td>
                                    <td>Completed</td>
                                    <td><button type="button" class="btn-hidden"><i class="fa fa-warning" style="color: red"></i></button></td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>28/2/2019</td>
                                    <td>Dinh Tran Toan</td>
                                    <td>5</td>
                                    <td>10.000</td>
                                    <td>50.000</td>
                                    <td>Completed</td>
                                    <td><button type="button" class="btn-hidden"><i class="fa fa-warning" style="color: red"></i></button></td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>8/3/2019</td>
                                    <td>Do Manh Tien</td>
                                    <td>3</td>
                                    <td>50.000</td>
                                    <td>150.000</td>
                                    <td>Pending</td>
                                    <td><button type="button" class="btn-hidden"><i class="fa fa-warning" style="color: red"></i></button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>